

.btn {
  // padding: 2em;
  text-align: center;
  border: var(--none);
  cursor: pointer;
}

.btn--blue, .btn--red {
  width: 412px;
  height: 50px;
  border-radius: var(--px-50);
  color: var(--white-color);
}

.btn--blue{
  background: var(--primary-blue);
}

.btn--red{
  background: var(--primary-red);
}



