:root {
  --bg-color: #09121c;
  --primary-blue: #3369ff;
  --primary-red: #ff334b;
  --white-color: #ffffff;
  --inactive-grey: #898f97;

  // Borders
  --border-1px: 1px solid rgba(255, 255, 255, 0.15);

  // Box Shadows
  --blue-shadow: 0px 5px 50px rgba(51, 105, 255, 0.7);
  --red-shadow: 0px 5px 50px rgba(255, 51, 75, 0.7);

  // Measurements
  --px-50: 50px;

  --vh-100: 100vh;

  --pc-100: 100%;

  // Background Resets
  --no-repeat: no-repeat;
  --center-X-Y: center center;
  --cover: cover;
  --contain: contain;

  // Displays
  --flex: flex;
  --column: column;
  --row: row;
  --align-center: center;

  // No Value
  --none: none;
}
